
<div class="row placeholders" ng-hide="true">

  <div class="col-xs-5 col-sm-2 placeholder" ng-repeat="i in getNumber(6) track by $index">
    <img src="http://placekitten.com/100/100" class="img-responsive img-circle" alt="Generic thumbnail" />
    <h4>Ahmed</h4>
    <span class="text-muted">Single, 27 years</span>
  </div>

</div>

<h2>Chat</h2>



<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="message in messages">
        
        <td class="col-xs-2 col-sm-2 message-from">
          <img ng-src="https://graph.facebook.com/{{message.from.id}}/picture" class="img-circle" />
          {{message.from.name}}
        </td>
        <td class="col-xs-10 col-sm-10">
          <message>{{message.message}}</message>
        </td>

      </tr>
    </tbody>
  </table>
  <div id="scrollhere"></div>
</div>